{{ template "header.html" .}}
<table class="table">
  <thead class="table-info">
    <tr>
        <th>Date</th>
        <th>Activity</th>
        <th>Weight</th>
    </tr>
  </thead>
{{ range . }}
    <tr>
        <td>{{ .Date }}</td>
        <td>{{ .Activity }}</td>
        <td>{{ .Weight }}kg</td>
        <td>
            <i class="bi bi-trash" id="{{ .ID }}"></i>
            <!-- <i class="bi bi-pen" id="{{ .ID }}"></i> -->
        </td>
    </tr>
{{ end }}
</table>
<form action="/gym" method="POST">
  <div class="mb-3">
    <label class="form-label">Activity</label>
    <input type="text" name="activity" class="form-control" aria-label="Activity">
  </div>
  <div class="mb-3">
    <label class="form-label">Weight</label>
    <input type="number" name="weight" class="form-control" aria-label="Weight">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="/static/script.js"></script>
</body>
</html>
