{{ template "header.html" .}}
<form action="/ingredients" method="POST">
  <div class="mb-3">
    <input type="text" name="food" class="form-control" placeholder="Food name" aria-label="Food name">
  </div>
  <div class="mb-3"> <input type="number" name="size" class="form-control" placeholder="Serving size (in grams) (optional)" aria-label="Serving size">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{ range . }}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name - {{ .Name }}</li>
    <li class="list-group-item">Size - {{ .Size }}g</li>
    <li class="list-group-item">Calories - {{ .Calories }}kcal</li>
    <li class="list-group-item">Protein - {{ .Protein }}</li>
    <li class="list-group-item">Fat - {{ .Fat }}</li>
    <li class="list-group-item">Carbs - {{ .Carbs }}</li>
  </ul>
{{ end }}
</div>
